body{
    margin:0;
    padding:0;
    --bg-clr:black;
    --clr:white;
    --second-bg-clr:lightgray;
    --second-clr:black;
    --btn-clr:blue;
    --btn-clr2:rgb(0, 0, 223);
    background-color: var(--bg-clr);
    color:white;
    border-color: white;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

h2{
    margin:0;
}

button, button:hover, input, input:focus{
    transition-duration: 100ms;
    transition-timing-function: ease-in-out;
}

button{
    font-size: 20px;
    color: var(--clr);
    background-color: var(--btn-clr);
    border: none;
}

button:hover{
    cursor:pointer;
    background-color: var(--btn-clr2);
}

button:focus{
    outline:none;
}

.table-btn{
    width:70%;
    border-radius:5px;
}

.remove-btn{
    background-color:rgb(179, 0, 0);
}

.remove-btn:hover{
    background-color: rgb(138, 0, 0);
}

.add-container{
    width:100%;
    height:100px;
    color:var(--second-clr);
    background-color: var(--second-bg-clr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book{
    padding: 15px 80px;
    border-radius: 10px;
}

.add-book:hover{
    box-shadow: 5px 5px 10px rgb(70, 70, 70);
}

table, tr, td, th{
    border:1px solid white;
}

table{
    border-collapse: collapse;
}

table{
    min-width:60%;
    margin:2rem auto 0;
}

th:nth-child(1),th:nth-child(2){
    width:200px;
}

th:nth-child(4){
    width:120px;
}

th, td{
    padding:10px;
}

dialog{
    border-radius: 20px;
    background-color: var(--second-bg-clr);
}

dialog::backdrop{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

form label{
    text-align: end;
}

form input{
    border:2px solid black;
    border-radius:5px;
    padding:0.2rem;
}

form input:focus{
    outline:none;
    border-color:var(--btn-clr);
    background-color: rgb(234, 235, 240);
}

form input:user-invalid{
    border-color:rgb(255, 0, 0);
    background-color: rgb(255, 224, 224);
}

form > button{
    width:50%;
    padding:10px 20px;
    border-radius: 10px;
}

.input-section{
    display: grid;
    grid-template-columns: max-content 1fr;
    gap:10px 20px;
}